.main-footer{
position: fixed;
height: 50px;
width: 100%;
background-color: azure;
bottom: 0px;
}
.main-footer{
    margin-right: 0px !important;
}
.sidebar-collapse .main-footer{
    margin-right: 50px !important;
}
 
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #222d32 !important;
}

